.App {
  text-align: center;
}
.favorites-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.favorites-columns {
  display: flex;
}

.favorites-column {
  flex: 0 0 auto;
  margin-right: 20px;
}

.favorite-item {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
}
